@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+SC:wght@400;700&family=Noto+Sans+SC:wght@400;500;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: 'Noto Sans SC', sans-serif;
  }
  h1, h2, h3 {
    font-family: 'Noto Serif SC', serif;
  }
}

@layer components {
  .entry-content p,
  .entry-content img,
  .entry-content hr,
  .entry-content figure {
    margin-top: 0;
    margin-bottom: 0;
  }

  .entry-content p {
    line-height: 1.75;
  }

  .entry-content > * + * {
    margin-top: 2rem;
  }
}
